@import url('https://fonts.googleapis.com/css?family=Montserrat');


body {
	background-color: #b64949;
	color: #fff;
	font-family: 'Montserrat ExtraLight', sans-serif;
}

a:visited {
	color: #fff;
}


header {
	text-align: center;
}

header hr {
	border: 0;
	height: 1px;
	background-image: linear-gradient(to right, rgba(255,255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}

header h1 {
	font-size: 6em;
}


.container h2 {
	text-align: center;
	margin-top: 2em;
	font-size: 2em;
}

.container__menu {
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
}

.container__menu--input {
	padding: 1em 1em;
	margin: .2em 0;
	border: 1px solid #ccc;
	border-radius: .3em;
	box-sizing: border-box;
	font-size: 2em;
}

.container__menu--submit {
	background-color: #7f3333;
	color: #fff;
	padding: 1em 1em;
	margin: .2em 0;
	border: none;
	border-radius: .3em;
	font-size: 2em;
	cursor: pointer;
}

.container--text {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 2em;
}

.container--text a {
	display: inline-block;
	text-decoration: none;
}

.container--text__button {
	background-color: #49b6b6;
	padding: .7em;
	border-radius: .3em;
}

@media screen and (max-width: 1080px) {
	input[type=text],input[type=password],input[type=submit]{
		width: 50%;
	}
}
@media screen and (max-width: 680px) {
	input[type=text],input[type=password],input[type=submit]{
		width: 70%;
	}
}