<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta property="og:image" content=" https://www.google.ro/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=2ahUKEwjdjfecwP_dAhUBElAKHQ03BuUQjRx6BAgBEAU&url=http%3A%2F%2Franchrun.wikia.com%2Fwiki%2FFile%3A600px-Facebook_logo_square.png&psig=AOvVaw1lDgG7hKM6KUOwGjs5s9Vt&ust=1539385552361382" />
	<meta property="og:title" content="I-fractr" />
	<meta property="og:url" content="file:///C:/Users/Gherasim%20Cosmin/Documents/cliwgit/CLIWProject-nr15/continue.html" />
	<meta property="og:site_name" content="I-fractr" />

	<meta name="twitter:card" content="summary" />
	<meta name="twitter:url" content="file:///C:/Users/Gherasim%20Cosmin/Documents/cliwgit/CLIWProject-nr15/continue.html" />
	<meta name="twitter:title" content="I-fractr" />
	<meta name="twitter:description" content="I-fractr a fractal creation and management system" />
	<meta name="twitter:image" content=" https://www.google.ro/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=2ahUKEwjdjfecwP_dAhUBElAKHQ03BuUQjRx6BAgBEAU&url=http%3A%2F%2Franchrun.wikia.com%2Fwiki%2FFile%3A600px-Facebook_logo_square.png&psig=AOvVaw1lDgG7hKM6KUOwGjs5s9Vt&ust=1539385552361382" />

	<title>I-Fractr Continue</title>
	<link rel="stylesheet" type="text/css" href="../css/small-html-reset.css">
	<link rel="stylesheet" type="text/css" href="../css/style.css">
	<link rel="stylesheet" type="text/css" href="../css/mobile-responsive.css">
	<link rel="stylesheet" type="text/css" href="../css/desktop-responsive.css">
</head>
<body itemscope itemtype="http://schema.org/SoftwareApplication">
	<header>
		<h1>I-Fractr</h1>
		<hr>
	</header>

	<nav>
		<button onclick="window.location.href='/editFractals'">New</button>
		<button onclick="window.location.href='/continue'">Continue</button>
		<button onclick="window.location.href='/download'">Download</button>
		<button onclick="window.location.href='/'">Logout</button>
	</nav>

	<main class="container" itemscope itemtype="http://schema.org/WebApplication">
		<h2>Select one of your previous works:</h2>
		<div id="fractal-list"  class="container__fractal-list"  itemscope itemtype="http://schema.org/ImageGallery">
			<div class="container__fractal-list--uploadFractal continue"><p>Upload fractal...</p></div>
		</div>
	</main>
	<div></div>
	<script src="../js/continue.js"></script>
</body>
</html>