<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta property="og:image" content=" https://www.google.ro/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=2ahUKEwjdjfecwP_dAhUBElAKHQ03BuUQjRx6BAgBEAU&url=http%3A%2F%2Franchrun.wikia.com%2Fwiki%2FFile%3A600px-Facebook_logo_square.png&psig=AOvVaw1lDgG7hKM6KUOwGjs5s9Vt&ust=1539385552361382" />
	<meta property="og:title" content="I-fractr" />
	<meta property="og:url" content="file:///C:/Users/Gherasim%20Cosmin/Documents/cliwgit/CLIWProject-nr15/editFractals.html" />
	<meta property="og:site_name" content="I-fractr" />

	<meta name="twitter:card" content="summary" />
	<meta name="twitter:url" content="file:///C:/Users/Gherasim%20Cosmin/Documents/cliwgit/CLIWProject-nr15/editFractals.html" />
	<meta name="twitter:title" content="I-fractr" />
	<meta name="twitter:description" content="I-fractr a fractal creation and management system" />
	<meta name="twitter:image" content=" https://www.google.ro/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=2ahUKEwjdjfecwP_dAhUBElAKHQ03BuUQjRx6BAgBEAU&url=http%3A%2F%2Franchrun.wikia.com%2Fwiki%2FFile%3A600px-Facebook_logo_square.png&psig=AOvVaw1lDgG7hKM6KUOwGjs5s9Vt&ust=1539385552361382" />

	<title>I-Fractr Guest Mode</title>
	<link rel="stylesheet" type="text/css" href="../css/small-html-reset.css">
	<link rel="stylesheet" type="text/css" href="../css/style.css">
	<link rel="stylesheet" type="text/css" href="../css/swiper.css">
	<link rel="stylesheet" type="text/css" href="../css/mobile-responsive.css">
	<link rel="stylesheet" type="text/css" href="../css/desktop-responsive.css">
</head>
<body>
	<header>
		<h1>I-Fractr</h1>
		<hr>
	</header>

	<nav>
		<button onclick="window.location.href='/editFractals'">New</button>
		<button onclick="window.location.href='/continue'">Continue</button>
		<button onclick="window.location.href='/download'">Download</button>
		<button onclick="window.location.href='/'">Logout</button>
	</nav>

	<main class="container">

		<div class="content-color">
			<div class="container__menu">
				<button class="container__menu--save-button disable" onclick="location.href='savefractals.html'">Save</button>
				<canvas id="thecanvas" width="2000" height="2000"></canvas>
				<div id="drawing"></div>
			</div>

			<div class="container__swiper">
				<div class="container__menu__main ">
					<button class="container__menu__list">List</button>
					<button class="container__menu__generate">Generate Canvas</button>
					<button class="container__menu__random">Generate Svg</button>
				</div>

				<div class="container__menu__swiper">
					<div class="swiper__generate">
						<div id="form" class="swiper__generate--form">
							<label>Iterations</label>
							<div class="swiper__generate--special-label">
								<input id="fIter" class="swiper__generate--number-input" type="number" name="iterations" min="1" max="6" value="5">
								<button class="swiper__generate--turn-up-button">
									<span class="arrow-up"></span>
								</button>
								<button class="swiper__generate--turn-down-button">
									<span class="arrow-down"></span>
								</button>
							</div>
							<label>Angles</label>
							<div class="swiper__generate--special-label">
								<input id="fAngl" class="swiper__generate--number-input" type="number" name="angles" min="0" max="360" value="25">
								<button class="swiper__generate--turn-up-button">
									<span class="arrow-up"></span>
								</button>
								<button class="swiper__generate--turn-down-button">
									<span class="arrow-down"></span>
								</button>
							</div>
							<label>Axiom</label>
							<input id="fAxio" class="swiper__generate--text-input" type="text" name="axiom" value="FX">
							<label>Rule1</label>
							<input id="fRule1" class="swiper__generate--text-input" type="text" name="rule1" value="F>FF-[-F+F]+[+F-F]">
							<label>Rule2</label>
							<input id="fRule2" class="swiper__generate--text-input" type="text" name="rule2" value="X>FF+[+F]+[-F]">
							<label>Rule3</label>
							<input id="fRule3" class="swiper__generate--text-input" type="text" name="rule3" value="">
							<label>Rule4</label>
							<input id="fRule4" class="swiper__generate--text-input" type="text" name="rule4" value="">
							<label>Rule5</label>
							<input id="fRule5" class="swiper__generate--text-input" type="text" name="rule5" value="">
							<div class="swiper__generate__buttons">
								<button onclick="lsystemSetUp('canvas')" from="canvas" class="swiper__generate--button">Generate</button>
								<button id="save__button" class="swiper__generate--button">Save</button>
							</div>
							
						</div>
					</div>
					<div class="swiper__list">
						<h2>Choose a fractal to edit:</h2>
						<div id="fractal-list" class="container__fractal-list">
							<div class="container__fractal-list--uploadFractal"><p>Upload fractal...</p></div>
						</div>
					</div>
					<div class="swiper__generateSvg">
						<div class="swiper__generate--form">
							<label>Iterations</label>
							<div class="swiper__generate--special-label">
								<input id="fIterSvg" class="swiper__generate--number-input" type="number" name="iterations" min="1" max="6" value="5">
								<button class="swiper__generate--turn-up-button">
									<span class="arrow-up"></span>
								</button>
								<button class="swiper__generate--turn-down-button">
									<span class="arrow-down"></span>
								</button>
							</div>
							<label>Angles</label>
							<div class="swiper__generate--special-label">
								<input id="fAnglSvg" class="swiper__generate--number-input" type="number" name="angles" min="0" max="360" value="25">
								<button class="swiper__generate--turn-up-button">
									<span class="arrow-up"></span>
								</button>
								<button class="swiper__generate--turn-down-button">
									<span class="arrow-down"></span>
								</button>
							</div>
							<label>Axiom</label>
							<input id="fAxioSvg" class="swiper__generate--text-input" type="text" name="axiom" value="FX">
							<label>Rule1</label>
							<input id="fRule1Svg" class="swiper__generate--text-input" type="text" name="rule1" value="F>FF-[-F+F]+[+F-F]">
							<label>Rule2</label>
							<input id="fRule2Svg" class="swiper__generate--text-input" type="text" name="rule2" value="X>FF+[+F]+[-F]">
							<label>Rule3</label>
							<input id="fRule3Svg" class="swiper__generate--text-input" type="text" name="rule3" value="">
							<label>Rule4</label>
							<input id="fRule4Svg" class="swiper__generate--text-input" type="text" name="rule4" value="">
							<label>Rule5</label>
							<input id="fRule5Svg" class="swiper__generate--text-input" type="text" name="rule5" value="">
							<div class="swiper__generate__buttons">
								<button onclick="lsystemSetUp('Svg')" from="canvas" class="swiper__generate--button">Generate</button>
								<button class="swiper__generate--button">Save</button>
							</div>
							
						</div>
					</div>
				</div>
			</div>
		</div>

	</main>
	<script src="../js/swiper.js"></script>
	<script src="../js/test.js"></script>
	<script src="../js/drawFractalsCanvas.js"></script>
	<script src="../js/lsystem.js"></script>
	<script src="../js/drawFractalsSvg.js"></script>
</body>
</html>