<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta property="og:image" content=" https://www.google.ro/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=2ahUKEwjdjfecwP_dAhUBElAKHQ03BuUQjRx6BAgBEAU&url=http%3A%2F%2Franchrun.wikia.com%2Fwiki%2FFile%3A600px-Facebook_logo_square.png&psig=AOvVaw1lDgG7hKM6KUOwGjs5s9Vt&ust=1539385552361382" />
    <meta property="og:title" content="I-fractr" />
    <meta property="og:url" content="file:///C:/Users/Gherasim%20Cosmin/Documents/cliwgit/CLIWProject-nr15/index.html" />
    <meta property="og:site_name" content="I-fractr" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:url" content="file:///C:/Users/Gherasim%20Cosmin/Documents/cliwgit/CLIWProject-nr15/index.html" />
    <meta name="twitter:title" content="I-fractr" />
    <meta name="twitter:description" content="I-fractr a fractal creation and management system" />
    <meta name="twitter:image" content=" https://www.google.ro/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=2ahUKEwjdjfecwP_dAhUBElAKHQ03BuUQjRx6BAgBEAU&url=http%3A%2F%2Franchrun.wikia.com%2Fwiki%2FFile%3A600px-Facebook_logo_square.png&psig=AOvVaw1lDgG7hKM6KUOwGjs5s9Vt&ust=1539385552361382" />

    <title>l-Fractr Log In</title>

    <link rel="stylesheet" type="text/css" href="../css/small-html-reset.css">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="stylesheet" type="text/css" href="../css/mobile-responsive.css">
    <link rel="stylesheet" type="text/css" href="../css/desktop-responsive.css">
</head>
<body>
	<header>
		<h1>I-Fractr</h1>
		<hr>
	</header>
	<main class="container">
        <h2 class="container--title">Welcome!</h2>
        <span id ="spanu"></span>
        <form class="container__menu" action="signIn" method="get">
            <input class="container__menu--input" type="text" name="username" placeholder="Username" required="required">
            <input class="container__menu--input" type="password" name="password" placeholder="Password" required="required">
            <input class="container__menu--submit" type="submit" name="submit" value="Log In">
        </form>
        <div class="container--text">
            <p>New here? Sign up or try it as a guest!</p>
            <span>
                <a class="container--text__button" href="signUp">SignUp!</a>
                <a class="container--text__button" href="editFractals">Guest mode</a>
            </span>
            <p>But beware, you will not be able to save your fractals!</p>
        </div>
    </main>

<script type="text/javascript" src="../js/index.js"></script>
</body>
</html>