body {
    background-color: #b64949;
    color: #fff;
    font-family: 'Montserrat ExtraLight', sans-serif;
}

a:visited {
    color: #fff;
}

header {
    text-align: center;
}

header hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(255,255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}

header h1 {
    font-size: 6em;
}

canvas {
    width: 60em;
    height: 60em;
    background-color: #fff;
}

button{
    color:#fff;
    border:0;
}
button:focus{
    outline: none;
}

nav{display: none;}
